# Auto detect text files and perform LF normalization
* text=auto
ppp_loan_data.ipynb export-ignore
pydantic_test.ipynb export-ignore
countries.ipynb export-ignore
scripts/ export-ignore
model/ export-ignore
csv_links.json export-ignore
tests/ export-ignore
resources/ export-ignore
