graphviz==0.20.1
instructor==0.5.2
neo4j==5.8.0
openai==1.12.0
pandas==2.0.3
pydantic==2.6.1
pyyaml==6.0.1
streamlit==1.31.1

# pyingest
# boto3==1.16.26
# botocore==1.19.26
# ijson==3.1.3
jmespath==0.10.0
# neo4j==4.2.0
numpy
# pandas==1.1.4
python-dateutil==2.8.2
# pytz==2020.4
pytz==2023.4
PyYAML==5.3.1
# s3transfer==0.3.3
# six==1.15.0
smart-open==4.0.1
# urllib3==1.26.5
urllib3==2.2.0